<mat-toolbar color="warn">
  Ooozee Database Creator
</mat-toolbar>

<form [formGroup]="itemForm" novalidate class="formSize container">
  <mat-input-container class="half-width" dividerColor="{{ formErrorsItem.itemName ? 'warn' : 'primary'}}">
    <input matInput placeholder="Item Name" formControlName="itemName" required>
    <mat-hint>
      <span [hidden]="!(formErrorsItem.itemName)">
                  {{ formErrorsItem.itemName }}</span>
    </mat-hint>
  </mat-input-container>

  <mat-input-container class="full-width" dividerColor="{{ formErrorsItem.itemDetail ? 'warn' : 'primary'}}">
    <input matInput placeholder="Item Detail" formControlName="itemDetail">
    <mat-hint>
      <span [hidden]="!(formErrorsItem.itemDetail)">
                  {{ formErrorsItem.itemDetail }}</span>
    </mat-hint>
  </mat-input-container>
  <mat-input-container class="half-width" dividerColor="{{ formErrorsItem.itemCategory ? 'warn' : 'primary'}}">
    <input matInput placeholder="Item Category" aria-label="State" [matAutocomplete]="auto" formControlName="itemCategory">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let food of filteredCategories | async " [value]="food">
        {{food}}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>
      <span [hidden]="!(formErrorsItem.itemCategory)">
                  {{ formErrorsItem.itemCategory }}</span>
    </mat-hint>
  </mat-input-container>
  <mat-input-container class="half-width" dividerColor="{{ formErrorsItem.itemParentCompany ? 'warn' : 'primary'}}">
    <input matInput placeholder="Item Parent Company" formControlName="itemParentCompany" required>
    <mat-hint>
      <span [hidden]="!(formErrorsItem.itemParentCompany)">
                  {{ formErrorsItem.itemParentCompany }}</span>
    </mat-hint>
  </mat-input-container>
  <div formArrayName="subItems">
    <button mat-raised-button color="warn" (click)="removeSubItem()" [disabled]="itemForm.controls.subItems.controls.length == 1">-</button>
    <button mat-raised-button color="warn" (click)="addSubItem()">+</button>
    <div *ngFor="let form of itemForm.controls.subItems.controls; let i = index">
      <h3>
        Item {{ i }} Detail
      </h3>
      <div [formGroupName]="i">
        <app-sub-item [group]="form" [index]="i" [errors]="formErrorsSubItems[i]">
        </app-sub-item>
      </div>
    </div>
  </div>
  <button mat-raised-button type="submit" color="warn" [disabled]="!itemForm.valid" (click)="onSubmit()">Submit</button>
</form>